name: build

on:
  pull_request:
    branches: [ 'main' ]
  workflow_dispatch:

jobs:
  windows:
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - branch: swift-5.4.3-release
            tag: 5.4.3-RELEASE

          - branch: swift-5.5-release
            tag: 5.5-RELEASE

          - branch: development
            tag: DEVELOPMENT-SNAPSHOT-2021-09-18-a

    steps:
      - name: Install Swift ${{ matrix.tag }}
        uses: compnerd/gha-setup-swift@main
        with:
          branch: ${{ matrix.branch }}
          tag: ${{ matrix.tag }}

      - uses: actions/checkout@v2

      # - uses: seanmiddleditch/gha-setup-ninja@master
      - uses: seanmiddleditch/gha-setup-vsdevenv@master

      - name: configure
        run: |
          # workaround CMake 3.20.0 bug
          $SDK_ROOT = cygpath -m $env:SDKROOT
          cmake -B out -D BUILD_SHARED_LIBS=YES -D CMAKE_BUILD_TYPE=Release -D CMAKE_C_COMPILER=clang-cl -D CMAKE_CXX_COMPILER=clang-cl -D CMAKE_Swift_FLAGS="-sdk $SDK_ROOT" -G Ninja -S ${{ github.workspace }}

      - name: build
        run: cmake --build out --config Release
